*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
------------------ 
Debug
------------------ 
 */
.debug .header-top{
    background-color: #add8e6;
}

.debug .container-header div{
    background-color: #daa520;
}

.debug .container-header{
    text-align: center;
}

.debug .logo, .debug .sito, .debug .login{
    text-align: center;
    border: 1px dashed black;
}

.debug .header-bottom{
    background-color: #00008b;
}

.debug .contenuto-headbottom{
    height: 200px;
    background-color: #ee82ee;
    border: 1px dashed black;
}

/* Debug sezione 1 */
.debug .testo, .debug .foto{
    height: 250px;
    border: 1px dashed black;
    background-color: #1e90ff;
}

.debug .foto{
    background-color: #ffc0cb; 
}

/*
------------------ 
Common
------------------ 
 */
 .layout {
    margin: 0 auto;
  }



/*
------------------ 
Header
------------------ 
 */
 .header-top{
    padding-top: 10px;
}

.container-header div{
    padding: 5px;
}

.container-header{
    display: flex;
    justify-content: center;
    width: 70%;
}

.sito{
    width: 50%;
}

.logo, 
.login{
    width: 25%;
}

.header-bottom{
    padding-top: 20px;
    margin-top: 10px;
    padding-bottom: 20px;
    
}

.contenuto-headbottom{
    width: 50%;
}


/*
------------------ 
Main
------------------ 
 */
.cont1{
    display: flex;
    width: 70%;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.testo{
    width: 60%;
}

.foto{
    width: 40%;
}